.topBack{
    background-color: rgb(19, 17, 27);
    padding-bottom: 30px;
}

.backBtn{
    margin-left: 50px;
    font-size: 20px;
    background-color: rgb(60, 53, 85);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}

.backBtn:hover{
    background-color: rgb(42, 37, 58);
    text-decoration: none;
    color: white;
}

.title{
    text-align: center;
    font-weight: bold;
}

.vid{
        padding-top: 20px;
        display: block;
        margin: 0 auto;
}

.imgList{
    padding-top: 50px;
    max-width: 90%;
}

.articleheader{
    padding-top: 10px;
    font-size: 18px;
}

.content{
    margin-top: 20px;
    margin-bottom: 20px;
}

.article{
    padding-top: 20px;
    font-size: 18px;
}

.extraButtons{
    padding-top: 50px;
    text-align: center;
}

.playBtn{
    background-color: rgb(60, 53, 85);
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.playBtn:hover{
    background-color: rgb(42, 37, 58);
    text-decoration: none;
    color: white;
}

.images{
    border-radius: 50px;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    padding-top: 20px;
}

@media (min-width: 576px){
    .vid{
        width: 500px;
        height: 262px;
    }
}

@media (min-width: 1200px){
    .vid{
        padding-top: 50px;
        display: block;
        margin: 0 auto;
        width: 1000px;
        height: 563px;
    }

    .articleheader{
        padding-left: 75px;
        padding-right: 75px;
    }

    .article{
        padding-left: 75px;
        padding-right: 75px;
    }
}