.project{
    padding-top: 10px;
    padding-bottom: 10px;
}

.project:hover{
    background-color: rgb(50, 50, 54);
    border-radius: 10px;
}

.projectTitle{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.projectText{
    text-decoration: none;
    color: white;
}

.heading{
    margin-left: 30px;
    font-weight: bold;
}


.filters{
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

.btn{
    background-color: rgb(83, 83, 83);
    margin-left: 5px;
}

.btn.active{
    background-color: rgb(29, 29, 29);
}

.thumbImg{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.FilterClass{
    display: none;
}

.FilterClass.show{
    display: block;
}

.tags{
        margin: 0;
        display:flex;
        flex-direction: row;
    }

.tags p{
    margin-right: 20px;
}

.divider{
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Monogame {
    background-color: red;
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    color: white;
}

.CS{
    background-color: rgb(52, 110, 133);
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    color: white;
}

.Unity {
    background-color: rgb(110, 110, 110);
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    color: white;
}

.Godot {
    background-color: rgb(53, 124, 165);
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    color: white;
}

.GDS {
    background-color: rgb(153, 127, 87);
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    color: white;
}