@font-face {
    font-family: ananda;
    src: url(Assets/Fonts/AnandaBlackPersonalUseRegular-rg9Rx.ttf);
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar{
    background-color: rgb(138, 122, 196);
}

.navbar h1{
    color: #fefdfd;
    font-family: ananda; 
}

.navbar p{
    color: #fefdfd;
    line-height: 0;
}

.navItem{
    color: #fefdfd;
    font-size: 18px;
}

.current{
    font-weight: bold;
}

.drop{
    background-color: rgb(138, 122, 196);
}

.dropItem{
    color: #fefdfd;
}

.dropItem:hover{
    background-color: rgb(42, 37, 58);
}

.outer{
    margin-left: 20px;
    margin-right: 20px;
}

.Logo{
    height: 50px;
    width: auto;
}
